// @import "../libs/reset.scss/reset.scss"
@import 'partials/base.styl'
@import 'blocks/header.styl';
@import 'blocks/sidepanel.styl';
@import 'blocks/preview.styl';
@import 'blocks/offer.styl';
@import 'blocks/calculating.styl';
@import 'blocks/menu.styl';
@import 'blocks/order.styl';
@import 'blocks/promotion.styl';
@import 'blocks/footer.styl';
@import 'blocks/modal.styl';
